# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
venv/
.env/

# Migrations
migrations/
alembic/

# Database
*.db
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Test coverage
.coverage
*.cover
coverage.xml
